<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="My.Batis.CarMapper">

	<insert id="insertCar">
		insert into carr(id,car_num,brand,guide_rice,produce_time,car_type)
		values(null,#{carnum},#{brand},#{guiderice},#{producetime},#{cartype})
	</insert>

</mapper>