<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="My.Batis.UserMapper">
  
  	<insert id="UserInsertById">
		insert into Usertable(id,password)
		values(#{id},#{password})
	</insert>
	
	<select id="UserSelectById" parameterType="int" resultType="com.myatis.User">
	select * from Usertable where id = #{id}
	</select>
	
	
	
</mapper>