<!DOCTYPE html>
<html>
    <meta charset="uft-8"></meta>
    <head>

    </head>
    <body>
      
        <span>用户</span>
        <span  th:text="${customerName}">您好</span>
       <!-- <if "$customervip eq=1">
            <p  th:text="${customerName}">您好</p>
            <elseif th:text=${customervip} eq="0">
                <p  th:text="${customerName}">你好</p>
            </elseif> 
        </if>


    <p  th:text="${customerName}"></p>
    <p  th:text="${customervip}"></p>
    -->
    <a href="User.html">返回用户测试</a>
    <a href="customer_more">完善个人信息</a>

        <form action="/more" method="post">

            

        </form>

    </body>

</html>